{% extends "base_site.html" %}
{% load staticfiles %}

{% block content_title %}
    {% include 'content_title.html' %}
{% endblock %}

{% block content %}
<section>
 
 {% if validlink %}
        <p>Por favor, ingresa la contraseña dos veces.<br />
           De este modo, podemos verificar que la hayas digitado correctamente.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                
                    <td>{{ form.new_password1.errors }}</td>

                 <div class="control-group">
                                 <label class="control-label" for="id_new_password1">New password:</label>
                                    <div class="controls">
                                         {{ form.new_password1 }}
                                    </div>
                 </div>

               
                    <td>{{ form.new_password2.errors }}</td>

                 <div class="control-group">
                                 <label class="control-label" for="id_new_password2">Confirm password:</label>
                                    <div class="controls">
                                         {{ form.new_password2 }}
                                    </div>
                 </div>

                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar Contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>El proceso de recuperacion de contraseña ha fallado!</h1>
        <p>El link utilizado para recuperar la contraseña es invalido, <br />
        posiblemente se debe a que ya ha sido utilizado previamente. <br />
        Por favor intenta nuevamente.</p>
    {% endif %}
    
</section>
{% endblock %}