<aside id="aside-recommendations" >
            

<div id="recommandations" class="border">

    <h2>Quienes vieron este restaurante también consultaron:</h2>

            <button class="recommendations-up disabled">
        <span class="arrow-up"></span>
    </button>
    
        <div class="recommandations-list">

                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/de-ana/6589" >
                    <img width="125" alt="De Ana" data-src="http://uploads.lafourchette.com/restaurant_photos/589/6589/43/160/de-ana-vista-interior-3de68.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,9</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/de-ana/6589" >
                        De Ana
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/de-ana/6589" >
                                            46003
                                        Valencia
                                            -&nbsp;De mercado
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/de-ana/6589" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-40% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/cicerone/46085" >
                    <img width="125" alt="Cicerone" data-src="http://uploads.lafourchette.com/restaurant_photos/085/46085/43/160/cicerone-vista-sala-9f85e.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,5</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/cicerone/46085" >
                        Cicerone
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/cicerone/46085" >
                                            46002
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/cicerone/46085" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-50% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/riff/9399" >
                    <img width="125" alt="Riff" data-src="http://uploads.lafourchette.com/restaurant_photos/399/9399/43/160/riff-detalle-plato-02e52.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>9,5</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/riff/9399" >
                        Riff
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/riff/9399" >
                                            46005
                                        Valencia
                                            -&nbsp;Creativo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/riff/9399" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-50% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/submarino/27904" >
                    <img width="125" alt="Submarino" data-src="http://uploads.lafourchette.com/restaurant_photos/904/27904/43/160/submarino-detalle-mesa-y-peces-2fab8.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,6</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/submarino/27904" >
                        Submarino
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/submarino/27904" >
                                            46013
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/submarino/27904" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-30% en Menú sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/tiempos-modernos/27401" >
                    <img width="125" alt="Tiempos Modernos" data-src="http://uploads.lafourchette.com/restaurant_photos/401/27401/43/160/tiempos-modernos-mesa-montada-y-cuadros-a06c5.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,2</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/tiempos-modernos/27401" >
                        Tiempos Modernos
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/tiempos-modernos/27401" >
                                            46005
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/tiempos-modernos/27401" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-50% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix"  >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/kailuze/34519" >
                    <img width="125" alt="Kailuze" data-src="http://uploads.lafourchette.com/restaurant_photos/519/34519/43/160/kailuze-d10d9.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>9</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/kailuze/34519" >
                        Kailuze
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/kailuze/34519" >
                                            46005
                                        Valencia
                                            -&nbsp;Vasco
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/kailuze/34519" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-30% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix" style="display: none;" >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/mar-d-avellanes/11352" >
                    <img width="125" alt="Mar d&#039;Avellanes" data-src="http://uploads.lafourchette.com/restaurant_photos/352/11352/43/160/6741fff43cae14b0754585781c09bbf3.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,8</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/mar-d-avellanes/11352" >
                        Mar d&#039;Avellanes
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/mar-d-avellanes/11352" >
                                            46003
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/mar-d-avellanes/11352" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-30% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix" style="display: none;" >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/el-cabanyal/32199" >
                    <img width="125" alt="El Cabanyal" data-src="http://uploads.lafourchette.com/restaurant_photos/199/32199/43/160/el-cabanyal-detalle-mesa-para-cuatro-ac535.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>9</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/el-cabanyal/32199" >
                        El Cabanyal
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/el-cabanyal/32199" >
                                            46011
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/el-cabanyal/32199" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-50% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix" style="display: none;" >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/la-roche/48493" >
                    <img width="125" alt="La Roche" data-src="http://uploads.lafourchette.com/restaurant_photos/493/48493/43/160/la-roche-detalle-sala-19750.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>8,5</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/la-roche/48493" >
                        La Roche
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/la-roche/48493" >
                                            46001
                                        Valencia
                                            -&nbsp;Mediterráneo
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/la-roche/48493" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-40% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
                    
                <div class="recommendationItem clearfix" style="display: none;" >

                        <div class="recommendationItem-thumbnail">
                <a href="http://www.eltenedor.es/restaurante/garnacha-tinta/15718" >
                    <img width="125" alt="Garnacha Tinta" data-src="http://uploads.lafourchette.com/restaurant_photos/718/15718/43/160/garnacha-tinta-vista-exterior-6ebae.jpg" />
                                        <span class="recommendationItem-rate">
                        <span>9,1</span>&nbsp;/10
                    </span>
                                    </a>
            </div>

                        <div class="recommendationItem-information">
                <div class="recommendationItem-title" >
                    <a href="http://www.eltenedor.es/restaurante/garnacha-tinta/15718" >
                        Garnacha Tinta
                    </a>
                </div>

                <p class="recommendationItem-address" >
                    <a href="http://www.eltenedor.es/restaurante/garnacha-tinta/15718" >
                                            46002
                                        Valencia
                                            -&nbsp;De mercado
                                        </a>
                </p>

                                <p class="recommendationItem-saleType">
                    <a href="http://www.eltenedor.es/restaurante/garnacha-tinta/15718" >
                        <span class="icon macaron-orange"></span>&nbsp;
                        <span>-40% en Carta sólo en eltenedor.es</span>
                    </a>
                </p>
                            </div>
        </div>
        
    </div>

            <button class="recommendations-down disabled">
        <span class="arrow-down"></span>
    </button>
    
</div>
        </aside>