{% extends "base_site.html" %}
{% load staticfiles %}

{% block content_title %}
	{% include 'content_title.html' %}
{% endblock %}

{% block content %}

<div id="contenservicios">
	
	<div class="row-fluid">
	<div class="span12">

	<div class="span8">
		<div class="row-fluid">
			<div class="span6">
				<img src="{% static 'images/salones.jpg' %}" alt="salones" />		
			</div>
			<div class="span6">
				<img src="{% static 'images/reservas.jpg' %}" alt="reservas" />
			</div>
		</div>
		<br/>
		<div class="row-fluid">
			<div class="span6">
				<img src="{% static 'images/cumpleanos.jpg' %}" alt="cumpleanios" />		
			</div>
			<div class="span6">
				<img src="{% static 'images/eventos.jpg' %}" alt="eventos" />
			</div>
		</div>
	</div>
	<div class ="span4">
		<aside id="texto_side">
			<h2>EVENTOS:</h2>
			<h4>Salón para celebración de fiestas, eventos empresariales con capacidad para 30 personas.</h4></br>
			<h3 class="title-yellow">Cumpleaños</h3>
			<h4>Preocúpate simplemente por pasar un rato divertido en compañía de tus familiares y amigos, nosotros nos encargaremos de que tu cumpleaños sea un evento cargado de gratas sorpresas.</h4>
			</br>
			<h3 class="title-yellow">Cena Romantica</h3>
			<h4>Déjate cautivar por una excelente atención y permite que tu pareja se lleve el mejor recuerdo.</h4>
			</br>
			<h3 class="title-yellow">Reunión Empresarial</h3>
			<h4>Nuestros eventos empresariales cuentan con excelente atencion  permite que tus invitados se lleven la mejor imagen.</h4>
		</aside> 
	</div>

	</div>
	</div>
</div>
{% endblock %}