{% extends "base_site.html" %}
{% load staticfiles %}

{% block content_title %}
	{% include 'content_title.html' %}
{% endblock %}

{% block content_slider %}
	{% include 'content_slider.html' %}
{% endblock %}

{% block content %}


						<section>
								<div id= 'textoPr'>
									<fieldset class="well">
												
													<hgroup>
														<h1 id="header">Bienvenidos</h1>
													</hgroup>
											
													<p class="text-justify">
													El restaurante María Juana ubicada en la ciudad de Tuluá, es una empresa dedicada al servicio en el sector gastronómico, ofrece gran variedad de platos y bebidas a sus clientes, con espacios modernos, comodos y agradables en donde podrás celebrar todo tipo de eventos y disfrutar de momentos especiales con tus familiares, amigos y grupos de trabajo.</p>

													<p  class="text-justify">Usted podra realizar su pedido desde que ingresa a nuestra aplicacion, seleccionando los productos que desee en nuestro menu de comidas. Nuestros empleados quedaran informados al minuto y estaran, a su disposicion.</p></br></br>
														<p>Visita nuestra pagina <a href=''>RestauranteMariajuana</a></p>
														<p>Siguenos en facebook como <a href=''>Maria Juana </a></p>

									</fieldset>
								</div>
						</section>


{% endblock %}