{% extends "base_site.html" %}
{% load staticfiles %}
{% load recommends %}

{% block content_title %}
	{% include 'content_title.html' %}
{% endblock %}



{% block content %}


<section>
<div class="row-fluid">
	<div class="span12">
		<div class="span9">
	{% for categoria in categorias_list %}
		{% if forloop.counter0|divisibleby:3 %}
			<div class="row-fluid">		
		{% endif %}
			<div class="span4 contenedor" id="{{ categoria.enlaceHtml }}">
			<img class="icon" width="80%" src="{{ categoria.imagen.url }}">
			<p class="texto"><a href="{% url 'verCategoria' categoria.id %}">{{ categoria.nombre }}</a></p>
			</div>
		{% if forloop.counter|divisibleby:3 or forloop.last %}
			</div>
	  	{% endif %}
	{% endfor %}
		</div>
			<div >
				<fieldset class="well">
							<h4 >RECOMENDACIONES</h4>
				</fieldset>
			</div>
	
			<div >
				<fieldset class="well">
							<h4 >DESPUES DE QUE REALICES TU PRIMER PEDIDO PODRAS VER AQUI RECOMENDACIONES DE PLATOS</h4>
				</fieldset>
			</div>
		<div class="span3 vticker" id="recomendaciones">
			
			
			<ul>
				{% suggested as suggestions %}
				{% for suggested in suggestions %}
					<li>
						<img class="" width="40%" src="{{ suggested.object.imagen.url }}">
						{{ suggested.object.nombre.capitalize }}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

</section>
{% endblock %}